.form__input {
  padding: 10px;
  background: rgb(224, 217, 217, 0.6);
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  color: rgb(43 43 43);
  width: 100%;
  min-width: 230px;
}
