* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #6A0572, #B83280, #7B2CBF, #9D4EDD, #E0B3FF);
  background-size: 300% 300%;
  animation: sunsetAnimation 10s ease infinite;
}

@keyframes sunsetAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

ul {
  list-style: none;
}

#root {
  margin: 0 400px;
}
