* {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
}

body {
  background: linear-gradient(
    45deg,
    #6a0572,
    #b83280,
    #7b2cbf,
    #9d4edd,
    #e0b3ff
  );
  background-size: 300% 300%;
  animation: sunsetAnimation 10s ease infinite;
}

@keyframes sunsetAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

ul {
  list-style: none;
}

#root {
  margin: 0 20%;

  @media (max-width: 1200px) {
    margin: 0 10%;
  }

  @media (max-width: 576px) {
    margin: 0 2%;
  }
}
